<!DOCTYPE html>
<html lang="en">
  <head>
    <.live_title><%= assigns[:page_title] || "ft_transcendence" %></.live_title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta
      name="description"
      content="A production ready example Phoenix app that's using Docker and Docker Compose."
    />

    <link phx-track-static rel="stylesheet" href={url(~p"/css/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={url(~p"/js/app.js")}
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={url(~p"/apple-touch-icon.png")}
    />
    <link
      rel="mask-icon"
      href={url(~p"/safari-pinned-tab.svg")}
      color="#384051"
    />
    <link rel="manifest" href={url(~p"/manifest.json")} />
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
